/**
 * @author: Hector Mendez-Garcia
 * @date: 11/22/2024
 * @description: Comments page template for Egyptology website
 * @template: comments.pug
 * @requires: student1.css
 */

//- Basic HTML structure
doctype html
html(lang='en')
  /**
   * @section Head
   * @contains Title and stylesheet link
   */
  head
    title Egyptology Comments - Hector Mendez-Garcia
    link(rel='stylesheet' href='css/student1.css')
  
  /**
   * @section Body
   * @contains Main content and comment functionality
   */
  body
    //- Page header
    h1 Hector Mendez-Garcia
    
    /**
     * @section Comment Form
     * @description Form for adding new comments
     * @endpoint /api/comments
     * @method POST
     */
    section
      h2 Add New Comment
      form(action='/api/comments' method='POST')
        div.form-group
          label(for='author') Your Name:
          input#author(type='text' name='author' required)
        
        div.form-group
          label(for='content') Your Comment:
          textarea#content(name='content' required)
        
        button(type='submit') Add Comment

    /**
     * @section Comments Display
     * @description Displays all existing comments with edit/delete functionality
     * @requires comments array from server
     */
    section
      h2 All Comments
      //- Conditional rendering based on comments existence
      if comments && comments.length
        ul.comments-list
          each comment in comments
            li.comment-item
              p.comment-author= comment.author
              p.comment-content= comment.content
              /**
               * @subsection Comment Actions
               * @description Edit and delete forms for comment management
               */
              div.comment-actions
                //- Edit form (hidden by default)
                form.edit-form(action=`/api/comments/${comment.id}/edit` method='POST' style='display: none;')
                  input(type='text' name='author' value=comment.author)
                  textarea(name='content')= comment.content
                  button(type='submit') Save
                  button(type='button' onclick='cancelEdit(this)') Cancel
                //- Action buttons
                div.button-group
                  button(type='button' onclick='showEditForm(this)') Edit
                  form.delete-form(action=`/api/comments/${comment.id}/delete` method='POST' style='display: inline;')
                    button(type='submit') Delete
      else
        p No comments yet!
    
    //- Navigation link
    a.home-link(href='/student1') Back to Homepage

    /**
     * @section Inline JavaScript
     * @description Client-side functions for comment editing UI
     */
    script.
      /**
       * Shows the edit form for a comment
       * @param {HTMLButtonElement} button - The clicked edit button
       */
      function showEditForm(button) {
        const commentItem = button.closest('.comment-item');
        const editForm = commentItem.querySelector('.edit-form');
        const buttonGroup = commentItem.querySelector('.button-group');
        editForm.style.display = 'block';
        buttonGroup.style.display = 'none';
      }

      /**
       * Hides the edit form and shows action buttons
       * @param {HTMLButtonElement} button - The clicked cancel button
       */
      function cancelEdit(button) {
        const commentItem = button.closest('.comment-item');
        const editForm = commentItem.querySelector('.edit-form');
        const buttonGroup = commentItem.querySelector('.button-group');
        editForm.style.display = 'none';
        buttonGroup.style.display = 'block';
      }